---
import { Icon } from 'astro-icon';
import { getHomePermalink, getPermalink } from '~/utils/permalinks';
import NewsletterForm from './NewsletterForm.astro';

const links = [
	{
		title: 'Productos',
		items: [
			{ title: 'Colchones', href: 'https://www.rohisommiers.com/colchones/' },
			{ title: 'Sommiers', href: 'https://www.rohisommiers.com/sommier-y-colchon/' },
			{ title: 'Camas con Cajones', href: 'https://www.rohisommiers.com/bases-sommier/camas-con-cajones/' },
			{ title: 'Sillones', href: 'https://www.rohisommiers.com/sillones/' },
			{ title: 'Almohadas', href: 'https://www.rohisommiers.com/almohadas/' },
		],
	},
	{
		title: 'Sobre Nosotros',
		items: [
			{ title: 'Quiénes somos', href: 'https://www.rohisommiers.com/quienes-somos/' },
			{ title: 'Nuestra tienda online', href: 'https://www.rohisommiers.com/' },
			{ title: 'Sucursales', href: 'https://www.rohisommiers.com/sucursales/' },
		],
	},
];

const social = [
	{ label: 'Instagram', icon: 'tabler:brand-instagram', href: 'https://instagram.com/rohisommiers' },
	{ label: 'Facebook', icon: 'tabler:brand-facebook', href: 'https://facebook.com/rohisommiers' },	
	{ label: 'Pinterest', icon: 'tabler:brand-pinterest', href: 'https://pinterest.com/rohisommiers' },	
	{ label: 'Linkedin', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/company/rohi-sommiers/' },	
	{ label: 'RSS', icon: 'tabler:rss', href: getPermalink('/rss.xml') },
];
---

<footer class="border-t border-gray-200 dark:border-slate-800 mt-20">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 md:col-span-3">
				<div class="mb-2">
					<a class="inline-block font-bold text-rohi text-xl" href={getHomePermalink()}>ROHI Sommiers</a>
				</div>
				<div class="text-sm text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href={getPermalink('/tyc')}>Términos y Condiciones</a
					><span class="sm:hidden px-2"> · </span>
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition whitespace-nowrap leading-8 duration-150 ease-in-out"
						href={getPermalink('/privacidad')}>Política de privacidad</a
					>
				</div>
			</div>
			{
				links.map(({ title, items }) => (
					<div class="col-span-6 md:col-span-3">
						<div class="text-gray-800 dark:text-gray-300 font-medium mb-4 text-lg md:text-xl">{title}</div>
						{items && Array.isArray(items) && items.length > 0 && (
							<ul class="text-md md:text-lg">
								{items.map(({ title, href }) => (
									<li class="mb-2">
										<a
											class="text-gray-600 hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
											href={href}
										>
											{title}
										</a>
									</li>
								))}
							</ul>
						)}
					</div>
				))
			}
			<div class="col-span-12 md:col-span-3">
				<p class="text-gray-600 mb-2">Suscribite</p>
				<NewsletterForm />
			</div>
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				{
					social.map(({ label, href, icon }) => (
						<li>
							<a
								class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label={label}
								href={href}
							>
								<Icon name={icon} class="w-5 h-5" />
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</footer>
