---
import { Icon } from 'astro-icon';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import Logo from '~/assets/Logo.svg';

import { getHomePermalink, getBlogPermalink, getPermalink } from '~/utils/permalinks';

const links = [

	{
		text: 'Guía para comprar un colchón',
		href: getPermalink('como-elegir-buen-colchon', 'post'),
	},
	{
		text: 'Artículos',
		href: getBlogPermalink(),
	},
	{
		text: 'Comprar',
		links: [
			{ text: 'Colchones', href: 'https://www.rohisommiers.com/colchones/' },
			{ text: 'Sommiers', href: 'https://www.rohisommiers.com/sommier-y-colchon/' },
			{ text: 'Camas con Cajones', href: 'https://www.rohisommiers.com/bases-sommier/camas-con-cajones/' },
			{ text: 'Sillones', href: 'https://www.rohisommiers.com/sillones/' },
			{ text: 'Almohadas', href: 'https://www.rohisommiers.com/almohadas/' },
		],
	},
];
---

<header class="sm:sticky top-0 z-40 flex-none bg-white border-b border-gray-300 mx-auto w-full transition-all ease-in duration-100" id="header">
	<div class="px-3 md:py-2 md:px-4 mx-auto w-full md:flex md:justify-between max-w-6xl">
		<div class="relative flex h-16 items-center justify-between">
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<ToggleMenu />
			</div>
			<div class="flex flex-1 w-5 sm:w-24 items-center justify-center sm:items-stretch sm:justify-start">
			<a class="items-center" href={getHomePermalink()}>
				<img src={Logo} alt="Logo ROHI Sommiers"/>
			</a>
			</div>	
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-[calc(100vh-100px)] md:h-auto overflow-y-auto md:overflow-visible"
			aria-label="Main navigation"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
				{
					links.map(({ text, href, links }) => (
						<li class={links?.length ? 'dropdown' : ''}>
							{links?.length ? (
								<>
									<button class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out">
										{text} <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 hidden md:inline" />
									</button>
									<ul class="dropdown-menu rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white md:min-w-[200px] dark:md:bg-slate-800 drop-shadow-xl">
										{links.map(({ text: text2, href: href2 }) => (
											<li>
												<a
													class="first:rounded-t last:rounded-b md:hover:bg-gray-100 dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap"
													href={href2}
												>
													{text2}
												</a>
											</li>
										))}
									</ul>
								</>
							) : (
								<a
									class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
									href={href}
								>
									{text}
								</a>
							)}
						</li>
					))
				}
				<li class="md:hidden">
					<a
						class="font-bold hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="https://rohisommiers.com/">Tienda Online</a
					>
				</li>
			</ul>
			<div class="md:self-center flex items-center md:mb-0 ml-4">
				<div class="hidden items-center md:flex">
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS Feed"
						href={getPermalink('/rss.xml')}
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a>
					<a
						class="btn w-full ml-3 py-2.5 px-5 font-semibold text-gray-600 shadow-none"
						href="https://www.rohisommiers.com/account/register/" target="_blank" aria-label="Cuenta en ROHI"
						><svg class="fill-black" viewBox="0 0 16.178 16.178" width="20" height="20"
							><path
								d="M8.089 8.952c2.373 0 4.314-1.941 4.314-4.314S10.461.324 8.089.324 3.775 2.265 3.775 4.638s1.941 4.314 4.314 4.314zm0-8.143c2.103 0 3.775 1.725 3.775 3.775s-1.672 3.775-3.775 3.775-3.776-1.725-3.776-3.775S5.985.809 8.088.809zm7.82 14.829c0 .162-.107.269-.269.269s-.269-.107-.269-.269c0-2.589-3.29-4.691-7.28-4.691S.809 13.05.809 15.638c0 .162-.107.269-.269.269s-.269-.107-.269-.269c0-2.858 3.505-5.231 7.819-5.231s7.819 2.373 7.819 5.231z"
							></path></svg
						></a
					>
				</div>
			</div>
		</nav>
	</div>
</header>
