---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
	post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);
---

<article class="mb-6 transition">
	<div class="group">
		<a class="relative block overflow-hidden" href={getPermalink(post.permalink, 'post')} title={post.title}>
			<div class="relative overflow-hidden h-80 bg-gray-400 dark:bg-slate-700 rounded shadow mb-6">
				{
					image && (
						<Picture
							src={image}
							class="object-content w-full rounded group-hover:scale-105 ease-out duration-500 shadow bg-gray-400 dark:bg-slate-700"
							widths={[400, 900]}
							sizes="(max-width: 900px) 400px, 900px"
							alt={post.title}
							aspectRatio="10:6"
						/>
					)
				}
			</div>
			<h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading">
				{
					BLOG?.post?.disabled ? (
						post.title
					) : (
						<a href={getPermalink(post.permalink, 'post')} class="group-hover:text-primary-500 transition ease-out duration-200">
							{post.title}
						</a>
					)
				}
			</h3>
			<p class="text-gray-700 dark:text-gray-400"><a href={getPermalink(post.permalink, 'post')}>{post.excerpt || post.description}</a> </p>
			<div class="mt-2">
				<span class="text-gray-500 dark:text-slate-400">
					<time datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time> ~
					4 min de lectura
				</span>
			</div>
		</a>
	</div>
</article>
